body{
  margin:0;
  font-family: Poppins;
  background-color: #e0e5ff;
}
div#main{
  display:flex;
}
div#left{
  min-height:100vh;
  width:28vw;    
  background-color: #003985;
  color:white;
  display:block;
}

@keyframes abrir{
  from{
    margin-left:-128vw;    
  }
  to{
    margin-right:0vw;
  }
}
@keyframes fechar{
  from{
    margin-right:0vw;    
  }
  to{
    margin-left:-128vw;
  }
}
div#leftC{/* conteúdo à esquerda */  
  padding-top:4vh;
  padding-left: 4vw;
  padding-right: 4vw;  
  padding-bottom: 4vh;

}
div#leftC h2{
  font-size:28px;
  text-align: center;
  padding-bottom:25px;
}
a{
  color:inherit;
  text-decoration:none;
}
div#right{
  display:block;
  width:72vw;
  min-height:100vh;
  background-color: #e0e5ff;
  color:#003985;
}
div#rightC{/* conteúdo à direita */  
  padding: 4vh 4vw 4vh 4vw;
  justify-content:center;
  display:flex;
}
div#rightC h3{
  margin-bottom:-13px;
  margin-top:25px;
}
div#rightC h4{
  margin-bottom:-19px;
  color:black;
  font-size:14px;
}
div#rightC p{
  font-size:17px;
  padding-top:10px;
}
div#rightC h2{
  margin-top:0;
  margin-bottom:-7px;
}
.cont{
  border: 2px solid #5e7aa6;
  border-radius:15px;
  padding:15px 15px 15px 15px;
  transition: 0.2s;
  box-shadow: 3px 3px #5e7aa6;
  background-color:white;
  display:block;
  margin-bottom:4vw;
}
div#contEsq{
  margin-right:2vw;
}
div#contDir{
  margin-left:2vw;
}
div#contEsq, div#contDir{
  width: 40vw;
  display:block;
}
div#leftDown{
  padding-top:7vh;
  
}
.links{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:4vw;
  margin-left:-4vw;
  transition: 0.2s;
}
.links:hover{
  background-image: linear-gradient(to right,#012c65,#003985)
}
.links i{
  padding-right:7px;
}
div#botaoMenu{
  position: absolute;
  display:none;
  padding: 5px 5px 5px 5px;
  color:#012c65;
  z-index:1;
}
div#botaoMenu i{
  font-size:26px;
  transition:0.2s;
}
div#botaoMenu i:hover{
  color: #c0b8ff;
  cursor: pointer;
}
button#btnBarra{
  background-color:inherit;
  border:none;
  color:inherit;
}

@media screen and (max-width: 800px){
  div#rightC{/* conteúdo à direita */   
    display:inline-block;
    justify-content:center;
    padding-right:-4vw;
  }
  div#contEsq, div#contDir{
    margin:0;
    width: 60vw;
    display:block;
  }
  div#right{
    display:flex;
    justify-content:center;
  }
  div#leftC h2{
    font-size:3vw;
    text-align: center;
  }
  .links{
    font-size:2vw;
  }
}
@media screen and (max-width: 550px){
  div#botaoMenu{
    display:block;
  }
  #left{
    margin-left:-28vw;
  }
  div#contEsq, div#contDir{
    width: 80vw;
  }
  div#right{
    width:100vw;
  }
  div#leftC h2{
    font-size:25px;
    text-align: left;
  }
  .links{
    font-size:18px;
  }
}