/* GENERAL */
body{
  margin:0;
  font-family: Poppins;
  background-color: #e0e5ff;
}
div#main{
  display:flex;
}

/* MENU - STRUCTURE */
div#left{
  min-height: 100%;
  overflow: hidden;
  width:28vw;    
  background-color: #003985;
  color:white;
  display:block;
}
div#leftC{
  padding: 4vh 4vw 4vh 4vw;
}
div#leftC h2{
  font-size:28px;
  text-align: center;
}
a{
  color:inherit;
  text-decoration:none;
}

/* MENU - ANIMATIONS */
@keyframes abrir{
  from{
    margin-left:-128vw;    
  }
  to{
    margin-right:0vw;
  }
}
@keyframes fechar{
  from{
    margin-right:0vw;    
  }
  to{
    margin-left:-128vw;
  }
}

/* MENU - OPTIONS */
.links{
  padding-top:13px;
  padding-bottom:13px;
  padding-left:4vw;
  margin-left:-4vw;
  transition: 0.2s;
}
.links:hover{
  background-image: linear-gradient(to right,#012c65,#003985)
}
.links i{
  padding-right:7px;
}

/* MENU - NOME */
div#nome{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom:30px;
}
#pfp{
  width:15vw;
  height:15vw;
  border-radius:50%;
}

/* MENU - ICON */
div#botaoMenu{
  position: absolute;
  display:none;
  padding: 5px 5px 5px 5px;
  color:white;
  z-index:1;
  width:calc(100% - 10px);
  background-color:#003985;
}
div#botaoMenu i{
  font-size:26px;
  transition:0.2s;
}
div#botaoMenu i:hover{
  cursor: pointer;
}
button#btnBarra{
  background-color:inherit;
  border:none;
  color:inherit;
}

/* CONTENT */
div#right{/* espaço do conteúdo */
  display:block;
  width:72vw;
  min-height:100vh;
  background-color: #e0e5ff;
  color:#003985;
}
div#rightC{/* conteúdo */  
  padding: 8vh 4vw 4vh 4vw;
  justify-content:center;
  display:flex;
}
div#rightC h3{
  margin-bottom:-13px;
  margin-top:25px;
}
div#rightC h4{
  margin-bottom:-19px;
  color:black;
  font-size:14px;
}
div#rightC p{
  font-size:17px;
  padding-top:10px;
}
div#rightC h2{
  margin-top:0;
  margin-bottom:-7px;
}

/* CAIXAS BRANCAS */
.cont{
  border: 2px solid #5e7aa6;
  border-radius:15px;
  padding:15px 15px 15px 15px;
  transition: 0.2s;
  box-shadow: 3px 3px #5e7aa6;
  background-color:white;
  display:block;
  margin-bottom:4vw;
}
div#contEsq{
  margin-right:2vw;
}
div#contDir{
  margin-left:2vw;
}
div#contEsq, div#contDir{
  width: 40vw;
  display:block;
}

/* RESIZE */
@media screen and (max-width: 800px){/* altera de 2 colunas para 1 coluna de caixa */
  div#rightC{ 
    display:inline-block;
    justify-content:center;
    padding-right:-4vw;
  }
  div#contEsq, div#contDir{
    margin:0;
    width: 60vw;
    display:block;
  }
  div#right{
    display:flex;
    justify-content:center;
  }
  div#leftC h2{
    font-size:3vw;
  }
  .links{
    font-size:2vw;
  }
}
@media screen and (max-width: 550px){/* esconder o menu e mostrar o botão para mostrá-lo */
  div#botaoMenu{
    display:block;
  }
  #left{
    margin-left:-28vw;
  }
  div#contEsq, div#contDir{
    width: 80vw;
  }
  div#right{
    width:100vw;
  }
  div#leftC h2{
    font-size:25px;
    padding-left:4vw;
  }
  .links{
    font-size:18px;
    padding-left:8vw;
  }
}
@media screen and (min-width: 551px){/* aparecer o menu quando o resize aumenta */
  #left{
    width:28vw;
    margin-left:0vw;
  }
}